.youtube-wrapper {
    display: inline-block;
    width: 210px;
    box-sizing: border-box;
    margin-right: 12px;
}

.img-thumb {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.img-thumb img {
    width: 100%;
}

p.time {
    position: absolute;
    color: azure;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background: #000000b2;
    padding: 4px;
    border-radius: 8px;
    font-weight: 500;
}

p.title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: black;
}

p.desc {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.897);
}